## SetUp

In [160]:
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import linear_model, metrics
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

plt.style.use(['dark_background'])

In [331]:
data = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')
y = data['Survived']

In [332]:
def normalize_min_max(df):
    min = df.describe()['min']
    max = df.describe()['max']
    return [(i - min) / (max - min) for i in df]

In [333]:
def standardize_data(x):
    return (x - x.mean()) / x.std()

In [334]:
def preprocess_data(data):
    data = data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
    num_feat = data.select_dtypes('number').columns.values
    cat_feat = data.select_dtypes('object').columns.values
    data_num = data[num_feat]
    data_cat = data[cat_feat]
    data_num = standardize_data(data_num)
    data_num = data_num.fillna(data_num.mean())
    return pd.concat([data_num, pd.get_dummies(data_cat)], axis=1)
#     df['Cabin'] = [1.0 if i is False else 0.0 for i in pd.isnull(df['Cabin'])]
#     df['Sex'] = [1.0 if sex == 'male' else 0.0 for sex in df['Sex']]
#     df['Embarked'] = df['Embarked'].replace({'S': 0.0, 'C': 0.5, 'Q': 1.0})
#     df['Pclass'] = normalize_min_max(df['Pclass'])
#     df['Fare'] = normalize_min_max(df['Fare'])
#     df['Age'] = normalize_min_max(df['Age'])
#     df['SibSp'] = normalize_min_max(df['SibSp'])
#     df['Parch'] = normalize_min_max(df['Parch'])
#     df = df.fillna(0)

In [335]:
data = preprocess_data(data)
X_test = preprocess_data(test)

In [336]:
X = data.drop('Survived', axis=1)

In [345]:
X.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0.826913,-0.530005,0.432550,-0.473408,-0.502163,0,1,0,0,1
1,-1.565228,0.571430,0.432550,-0.473408,0.786404,1,0,1,0,0
2,0.826913,-0.254646,-0.474279,-0.473408,-0.488580,1,0,0,0,1
3,-1.565228,0.364911,0.432550,-0.473408,0.420494,1,0,0,0,1
4,0.826913,0.364911,-0.474279,-0.473408,-0.486064,0,1,0,0,1

## For Practice

In [330]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

## For Submit

In [339]:
X_train = X
y_train = y

## Learning

In [340]:
start = time.time()
clf = SVC(gamma='scale')
clf.fit(X_train, y_train)
process_time = time.time() - start

In [341]:
'{} sec'.format(round(process_time, 2))

'0.03 sec'

## Predict

In [342]:
y_pred = clf.predict(X_test)
# acc_score = metrics.accuracy_score(y_test, y_pred)
# print("ACC: ", acc_score)

In [343]:
pred = pd.DataFrame()
pred['PassengerId'] = test['PassengerId']
pred['Survived'] = y_pred

In [344]:
pred.to_csv('../data/pred.csv', index=False)